# Compiled class file
*.class

# Log file
*.log
*.idea

#testoutpoutFiles
test-output
target
# BlueJ files
*.ctxt

.idea/*
*/.metadata/*
*/.settings/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*/META-INF/*

*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
